
/* NAVBAR */
.navbar-inverse {
    min-height: 48px;
    margin-bottom: 0px;
    border-radius: 0px;
    border-bottom: 1px solid #191e23;

    background: #2c3742; /* Old browsers */
    background: -moz-linear-gradient(top,  #2c3742 0%, #28303a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2c3742), color-stop(100%,#28303a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #2c3742 0%,#28303a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #2c3742 0%,#28303a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #2c3742 0%,#28303a 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #2c3742 0%,#28303a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c3742', endColorstr='#28303a',GradientType=0 ); /* IE6-9 */
}
/* navbar-nav*/
.navbar-inverse .navbar-nav {
    padding-right: 20px;
}
/* menu toggler */
.navbar-inverse .navbar-toggle {
    float: left;
    margin-top: 10px;
    margin-left: 15px;
}
/* navbar brand*/
.navbar-inverse .navbar-brand {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: lighter;
    padding: 11px 20px;
}
.navbar-inverse .navbar-brand strong {
    font-weight: normal;
}
/* navbar links */
.navbar-inverse .nav > li > a {
    padding: 13px 15px 8px;
    border-left: 1px solid #101417;
    color: rgb(214, 214, 214);
    outline: 0px;
    height: 46px;
    transition: background .1s linear;
    -moz-transition: background .1s linear; /* Firefox 4 */
    -webkit-transition: background .1s linear; /* Safari and Chrome */
    -o-transition: background .1s linear;  /* Opera */
}
.navbar-inverse .nav > li > a:hover {
    background: rgba(25, 31, 36,0.6);
}

/* override navbar toggle */
@media (max-width: 768px) {
    .navbar-toggle {
        display: block !important;
    }
}

.main-content {
  padding: 40px 15px; 
    .col-lg-5{
        float:none;
    }
}
